.r {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-gap: 0px
}

[class*="c-"] {
    grid-column: span 24;
    padding: 0px
}


 /* 200px */
@media only screen and (min-width: 200px) { 
    
    .c-50 {
        grid-column: span 12;
    }
    .c-25 {
        grid-column: span 6;
    }    
    .c-75 {
        grid-column: span 18;
    }    
    .c-100 {
        grid-column: span 24;
    }  
  
    .c-1 {
        grid-column: span 1
    }

    .c-2 {
        grid-column: span 2
    }

    .c-3 {
        grid-column: span 3
    }

    .c-4 {
        grid-column: span 4
    }

    .c-5 {
        grid-column: span 5
    }

    .c-6 {
        grid-column: span 6
    }

    .c-7 {
        grid-column: span 7
    }

    .c-8 {
        grid-column: span 8
    }

    .c-9 {
        grid-column: span 9
    }

    .c-10 {
        grid-column: span 10
    }

    .c-11 {
        grid-column: span 11
    }

    .c-12 {
        grid-column: span 12
    }

    .c-13 {
        grid-column: span 13
    }

    .c-14 {
        grid-column: span 14
    }

    .c-15 {
        grid-column: span 15
    }

    .c-16 {
        grid-column: span 16
    }

    .c-17 {
        grid-column: span 17
    }

    .c-18 {
        grid-column: span 18
    }

    .c-19 {
        grid-column: span 19
    }

    .c-20 {
        grid-column: span 20
    }

    .c-21 {
        grid-column: span 21
    }

    .c-22 {
        grid-column: span 22
    }

    .c-23 {
        grid-column: span 23
    }

    .c-24 {
        grid-column: span 24
    }
}



 /* 600px - 800px */

@media only screen and (max-width: 800px) and (min-width: 200px) {
    

    .c-50 {
        grid-column: span 12;
    }
    .c-25 {
        grid-column: span 6;
    }    
    .c-75 {
        grid-column: span 18;
    }    
    .c-100 {
        grid-column: span 24;
    }
    
}