@font-face {
    font-family: "PixelMplus10-Regular";
    src: url('https://cdn.leafscape.be/PixelMplus/PixelMplus10-Regular_web.woff2') format("woff2");
}

body {
	font-family: PixelMplus10-Regular;
}

#mymap {
    width: 100%;
    height: 100%;
}

#button1 {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1000;
}

#button2 {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1000;
}

#button3 {
    position: absolute;
    bottom: 25px;
    left: 15px;
    z-index: 1000;
}

#button4 {
    position: absolute;
    bottom: 25px;
    right: 15px;
    z-index: 1000;
}

#titleView {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(200, 200, 200, 0.8);
    z-index: 1051;
}

#settingView {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(200, 200, 200, 0.8);
    z-index: 1001;
}

#listView {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(200, 200, 200, 0.8);
    z-index: 1001;
}

#photoView {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(200, 200, 200, 0.8);
    z-index: 1001;
}

#catView {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.8);
    z-index: 1011;
}

#twitterCommentView {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.8);
    z-index: 1021;
}

#aboutView {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.8);
    z-index: 1011;
}

#progressView {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.8);
    z-index: 2000;
}

.background-white {
    background-color: white;
}

.dialog-parent{
    width: 100%;
    height: 100%;
    position: relative;
}
.dialog-inner{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.list-parent{
    width: 100%;
    height: 100%;
    position: relative;
}
.list-inner{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.progress-parent{
    width: 100%;
    height: 100%;
    position: relative;
}
.progress-inner{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.is-orange {
    background-color: #f9b100;
}

.close {
    position: absolute;
    top: 0px;
    right: 1px;
    padding-bottom: 2px;
    z-index: 1500;
}

.nes-btn > input[type="file"] {
    display: none;
}

.center {
	text-align: center;
	text-align: -webkit-center;
}

.space-08 {
	height: 8px;
}

.space-16 {
	height: 16px;
}

.vertical-scroll-table {
    max-height: 500px;
	overflow: auto;
	overflow-x: hidden;
}

.nes-icon.twitter::before {
    color: #2c9ceb;
}

